In [1]:
import numpy as np
import pandas as pd

In [2]:
cric = pd.read_csv('latest5.csv')

In [3]:
cric.head

<bound method NDFrame.head of         Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0  Match ID  \
0                  0            29            29          29   1339605
1                  1            30            30          30   1339605
2                  2            31            31          31   1339605
3                  3            32            32          32   1339605
4                  4            33            33          33   1339605
...              ...           ...           ...         ...       ...
118359        118359        157161        424655      424655    426724
118360        118360        157162        424656      424656    426724
118361        118361        157163        424657      424657    426724
118362        118362        157164        424658      424658    426724
118363        118363        157165        424659      424659    426724

                                      Venue    Bat First    Bat Second  \
0                           SuperSport Park  West Indies  South Africa
1                           SuperSport Park  West Indies  South Africa
2                           SuperSport Park  West Indies  South Africa
3                           SuperSport Park  West Indies  South Africa
4                           SuperSport Park  West Indies  South Africa
...                                     ...          ...           ...
118359  Dubai International Cricket Stadium     Pakistan   New Zealand
118360  Dubai International Cricket Stadium     Pakistan   New Zealand
118361  Dubai International Cricket Stadium     Pakistan   New Zealand
118362  Dubai International Cricket Stadium     Pakistan   New Zealand
118363  Dubai International Cricket Stadium     Pakistan   New Zealand

        Innings  Over  Ball  Innings Runs  Target Score  Chased Successfully  \
0             1     5     5            49           259                    1
1             1     5     6            53           259                    1
2             1     6     1            57           259                    1
3             1     6     2            61           259                    1
4             1     6     3            62           259                    1
...         ...   ...   ...           ...           ...                  ...
118359        2    20     2           143           154                    0
118360        2    20     3           144           154                    0
118361        2    20     4           145           154                    0
118362        2    20     5           146           154                    0
118363        2    20     6           146           154                    0

        Wickets left       CRR  Last Five   RRR
0                 10  8.400000       48.0   NaN
1                 10  8.833333       51.0   NaN
2                 10  9.243243       54.0   NaN
3                 10  9.631579       58.0   NaN
4                 10  9.538462       58.0   NaN
...              ...       ...        ...   ...
118359            10  7.032787       46.0  16.5
118360            10  7.024390       45.0  20.0
118361            10  7.016129       45.0  27.0
118362            10  7.008000       42.0  48.0
118363             9  6.952381       42.0   inf

[118364 rows x 18 columns]>

In [4]:
cric.Venue.value_counts()

Venue
Dubai International Cricket Stadium    7300
Shere Bangla National Stadium          7260
R Premadasa Stadium                    5618
New Wanderers Stadium                  4020
Kensington Oval                        3958
                                       ...
St George's Park                        464
Sir Vivian Richards Stadium             386
Buffalo Park                            364
Rawalpindi Cricket Stadium              189
Gymkhana Club Ground                    189
Name: count, Length: 75, dtype: int64

In [5]:
cric = cric.loc[cric.Innings == 2]

In [6]:
cric.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
95,95,153,153,153,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
96,96,154,154,154,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
97,97,155,155,155,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
98,98,156,156,156,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
99,99,157,157,157,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933

In [7]:
cric

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
95,95,153,153,153,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
96,96,154,154,154,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
97,97,155,155,155,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
98,98,156,156,156,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
99,99,157,157,157,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118359,118359,157161,424655,424655,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000
118360,118360,157162,424656,424656,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000
118361,118361,157163,424657,424657,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000
118362,118362,157164,424658,424658,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000
118363,118363,157165,424659,424659,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf

In [8]:
cric.drop("Unnamed: 0.3", axis =1)

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
95,153,153,153,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
96,154,154,154,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
97,155,155,155,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
98,156,156,156,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
99,157,157,157,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118359,157161,424655,424655,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000
118360,157162,424656,424656,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000
118361,157163,424657,424657,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000
118362,157164,424658,424658,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000
118363,157165,424659,424659,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf

In [9]:

cric.drop("Unnamed: 0", axis =1)

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
95,95,153,153,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
96,96,154,154,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
97,97,155,155,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
98,98,156,156,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
99,99,157,157,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118359,118359,157161,424655,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000
118360,118360,157162,424656,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000
118361,118361,157163,424657,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000
118362,118362,157164,424658,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000
118363,118363,157165,424659,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf

In [10]:
cric = cric.drop(["Unnamed: 0.3","Unnamed: 0.2","Unnamed: 0.1","Unnamed: 0"], axis =1)

In [11]:

cric

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
95,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
96,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
97,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
98,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
99,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118359,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000
118360,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000
118361,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000
118362,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000
118363,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf

In [12]:
cric = cric.reset_index()

In [13]:
cric

,index,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
0,95,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
1,96,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
2,97,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
3,98,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
4,99,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55824,118359,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000
55825,118360,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000
55826,118361,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000
55827,118362,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000
55828,118363,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf

In [14]:
cric = cric.drop('index', axis =1)

In [15]:
cric

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR
0,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826
1,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791
2,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857
3,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333
4,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55824,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000
55825,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000
55826,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000
55827,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000
55828,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf

In [16]:
cric.Venue.value_counts()

Venue
Shere Bangla National Stadium          3452
Dubai International Cricket Stadium    3377
R Premadasa Stadium                    2593
Kensington Oval                        1917
New Wanderers Stadium                  1868
                                       ...
St George's Park                        220
Sir Vivian Richards Stadium             197
Buffalo Park                            181
Gymkhana Club Ground                     95
Rawalpindi Cricket Stadium               93
Name: count, Length: 75, dtype: int64

In [17]:
cric['Balls_left'] = 126 - ((cric['Over'] * 6) +cric['Ball'])

In [18]:
cric

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR,Balls_left
0,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826,92
1,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791,91
2,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857,90
3,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333,90
4,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55824,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000,4
55825,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000,3
55826,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000,2
55827,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000,1
55828,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf,0

In [19]:
cric['Bowls_done'] = 120 - cric['Balls_left']
cric['Runs_remaining'] = cric['Target Score'] - cric['Innings Runs']
cric

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR,Balls_left,Bowls_done,Runs_remaining
0,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826,92,28,174
1,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791,91,29,170
2,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857,90,30,169
3,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333,90,30,167
4,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933,89,31,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55824,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000,4,116,11
55825,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000,3,117,10
55826,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000,2,118,9
55827,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000,1,119,8
55828,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,6,146,154,0,9,6.952381,42.0,inf,0,120,8

In [20]:

cric = cric.loc[cric.Balls_left != 0]
cric

,Match ID,Venue,Bat First,Bat Second,Innings,Over,Ball,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR,Balls_left,Bowls_done,Runs_remaining
0,1339605,SuperSport Park,West Indies,South Africa,2,5,4,85,259,1,10,15.000000,83.0,11.347826,92,28,174
1,1339605,SuperSport Park,West Indies,South Africa,2,5,5,89,259,1,10,15.257143,83.0,11.208791,91,29,170
2,1339605,SuperSport Park,West Indies,South Africa,2,5,6,90,259,1,10,15.000000,79.0,11.142857,90,30,169
3,1339605,SuperSport Park,West Indies,South Africa,2,5,6,92,259,1,10,15.333333,81.0,11.133333,90,30,167
4,1339605,SuperSport Park,West Indies,South Africa,2,6,1,98,259,1,10,15.891892,87.0,10.853933,89,31,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55823,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,1,142,154,0,10,7.041322,46.0,14.400000,5,115,12
55824,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,2,143,154,0,10,7.032787,46.0,16.500000,4,116,11
55825,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,3,144,154,0,10,7.024390,45.0,20.000000,3,117,10
55826,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,4,145,154,0,10,7.016129,45.0,27.000000,2,118,9
55827,426724,Dubai International Cricket Stadium,Pakistan,New Zealand,2,20,5,146,154,0,10,7.008000,42.0,48.000000,1,119,8

In [21]:
cric = cric.drop(['Match ID', 'Innings', 'Over', 'Ball'], axis = 1)
cric

,Venue,Bat First,Bat Second,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR,Balls_left,Bowls_done,Runs_remaining
0,SuperSport Park,West Indies,South Africa,85,259,1,10,15.000000,83.0,11.347826,92,28,174
1,SuperSport Park,West Indies,South Africa,89,259,1,10,15.257143,83.0,11.208791,91,29,170
2,SuperSport Park,West Indies,South Africa,90,259,1,10,15.000000,79.0,11.142857,90,30,169
3,SuperSport Park,West Indies,South Africa,92,259,1,10,15.333333,81.0,11.133333,90,30,167
4,SuperSport Park,West Indies,South Africa,98,259,1,10,15.891892,87.0,10.853933,89,31,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55823,Dubai International Cricket Stadium,Pakistan,New Zealand,142,154,0,10,7.041322,46.0,14.400000,5,115,12
55824,Dubai International Cricket Stadium,Pakistan,New Zealand,143,154,0,10,7.032787,46.0,16.500000,4,116,11
55825,Dubai International Cricket Stadium,Pakistan,New Zealand,144,154,0,10,7.024390,45.0,20.000000,3,117,10
55826,Dubai International Cricket Stadium,Pakistan,New Zealand,145,154,0,10,7.016129,45.0,27.000000,2,118,9
55827,Dubai International Cricket Stadium,Pakistan,New Zealand,146,154,0,10,7.008000,42.0,48.000000,1,119,8

In [22]:
random_cric = cric.sample(n=len(cric))
random_cric = random_cric.reset_index(drop = True)

In [23]:
random_cric

,Venue,Bat First,Bat Second,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR,Balls_left,Bowls_done,Runs_remaining
0,New Wanderers Stadium,Australia,South Africa,70,167,1,10,6.000000,24.0,10.392857,56,64,97
1,R.Premadasa Stadium,Bangladesh,India,83,140,1,10,7.114286,34.0,6.107143,56,64,57
2,Pallekele International Cricket Stadium,Sri Lanka,West Indies,184,216,0,10,8.975610,32.0,64.000000,3,117,32
3,Melbourne Cricket Ground,India,Australia,66,75,1,10,6.491803,38.0,0.830769,65,55,9
4,M Chinnaswamy Stadium,India,Bangladesh,94,147,0,10,7.421053,38.0,6.360000,50,70,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55607,The Wanderers Stadium,India,South Africa,85,204,0,10,7.183099,36.0,12.981818,55,65,119
55608,Punjab Cricket Association IS Bindra Stadium,New Zealand,Pakistan,122,181,0,10,7.705263,32.0,11.419355,31,89,59
55609,New Wanderers Stadium,South Africa,Australia,163,202,0,10,9.140187,51.0,12.315789,19,101,39
55610,New Wanderers Stadium,West Indies,South Africa,86,206,1,10,9.555556,37.0,9.863014,72,48,120
55611,Shere Bangla National Stadium,Bangladesh,Pakistan,24,109,1,10,3.789474,16.0,5.795455,88,32,85

In [24]:
final_cric = pd.get_dummies(random_cric, columns = ['Venue', 'Bat First', 'Bat Second'])

final_cric = final_cric*1

In [25]:
final_cric

,Innings Runs,Target Score,Chased Successfully,Wickets left,CRR,Last Five,RRR,Balls_left,Bowls_done,Runs_remaining,...,Bat Second_Afghanistan,Bat Second_Australia,Bat Second_Bangladesh,Bat Second_England,Bat Second_India,Bat Second_New Zealand,Bat Second_Pakistan,Bat Second_South Africa,Bat Second_Sri Lanka,Bat Second_West Indies
0,70,167,1,10,6.000000,24.0,10.392857,56,64,97,...,0,0,0,0,0,0,0,1,0,0
1,83,140,1,10,7.114286,34.0,6.107143,56,64,57,...,0,0,0,0,1,0,0,0,0,0
2,184,216,0,10,8.975610,32.0,64.000000,3,117,32,...,0,0,0,0,0,0,0,0,0,1
3,66,75,1,10,6.491803,38.0,0.830769,65,55,9,...,0,1,0,0,0,0,0,0,0,0
4,94,147,0,10,7.421053,38.0,6.360000,50,70,53,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55607,85,204,0,10,7.183099,36.0,12.981818,55,65,119,...,0,0,0,0,0,0,0,1,0,0
55608,122,181,0,10,7.705263,32.0,11.419355,31,89,59,...,0,0,0,0,0,0,1,0,0,0
55609,163,202,0,10,9.140187,51.0,12.315789,19,101,39,...,0,1,0,0,0,0,0,0,0,0
55610,86,206,1,10,9.555556,37.0,9.863014,72,48,120,...,0,0,0,0,0,0,0,1,0,0
55611,24,109,1,10,3.789474,16.0,5.795455,88,32,85,...,0,0,0,0,0,0,1,0,0,0

In [26]:
X = final_cric.drop('Chased Successfully', axis = 1)
Y = final_cric['Chased Successfully']
X

,Innings Runs,Target Score,Wickets left,CRR,Last Five,RRR,Balls_left,Bowls_done,Runs_remaining,Venue_Adelaide Oval,...,Bat Second_Afghanistan,Bat Second_Australia,Bat Second_Bangladesh,Bat Second_England,Bat Second_India,Bat Second_New Zealand,Bat Second_Pakistan,Bat Second_South Africa,Bat Second_Sri Lanka,Bat Second_West Indies
0,70,167,10,6.000000,24.0,10.392857,56,64,97,0,...,0,0,0,0,0,0,0,1,0,0
1,83,140,10,7.114286,34.0,6.107143,56,64,57,0,...,0,0,0,0,1,0,0,0,0,0
2,184,216,10,8.975610,32.0,64.000000,3,117,32,0,...,0,0,0,0,0,0,0,0,0,1
3,66,75,10,6.491803,38.0,0.830769,65,55,9,0,...,0,1,0,0,0,0,0,0,0,0
4,94,147,10,7.421053,38.0,6.360000,50,70,53,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55607,85,204,10,7.183099,36.0,12.981818,55,65,119,0,...,0,0,0,0,0,0,0,1,0,0
55608,122,181,10,7.705263,32.0,11.419355,31,89,59,0,...,0,0,0,0,0,0,1,0,0,0
55609,163,202,10,9.140187,51.0,12.315789,19,101,39,0,...,0,1,0,0,0,0,0,0,0,0
55610,86,206,10,9.555556,37.0,9.863014,72,48,120,0,...,0,0,0,0,0,0,0,1,0,0
55611,24,109,10,3.789474,16.0,5.795455,88,32,85,0,...,0,0,0,0,0,0,1,0,0,0

In [27]:
Y

0        1
1        1
2        0
3        1
4        0
        ..
55607    0
55608    0
55609    0
55610    1
55611    1
Name: Chased Successfully, Length: 55612, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [30]:
y_test

31150    0
39480    1
9197     1
4207     1
30752    0
        ..
39908    1
29532    1
14543    1
17037    1
52723    0
Name: Chased Successfully, Length: 11123, dtype: int64

In [31]:
final_cric.to_csv("final.csv")

In [32]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')  # Use 'softmax' for multi-class classification
])

ModuleNotFoundError: No module named 'tensorflow'